@font-face {
  font-family: Poppins-Italic;
  src: url(./Fonts/Poppins-BlackItalic.ttf);
}
html {
  background-color: black;
  color: white;
  display: flex;
  text-align: center;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* border: 5px solid white; */
  background-image: url(./Images/hand-painted-watercolor-pastel-sky-background_23-2148920283.png);
}

.body1 {
  display: flex;
}

span {
  border-right: white solid 2px;
  margin-left: 20px;
  margin-right: 20px;
}

textarea {
  height: 1em;
  width: 250px;
  resize: none;
  overflow: hidden;
}
.body2 {
  border: 10px solid white;
  gap: 3px;
}
.mealType {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.travel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}
.Headline {
  font-family: Poppins-Italic;
}
.extra {
  list-style: none;
}
ul {
  list-style: none;
  margin: 0%;
  padding: 0%;
}
#dep {
  width: 80%;
}
img {
  height: auto;
  width: 350px;
}
